{% extends 'base.html.twig' %}

{% block bodysaisie %}
{# {% include "@App/messages2.html.twig" %} #}
{#<h4> Listes des alertes :</h4>#}
{#{% if is_granted('ROLE_ROLLOUT') or is_granted('ROLE_ADMINISTRATION') or is_granted('ROLE_COMPTABLE') or is_granted('ROLE_BUREAU') %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Info</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item text-info">
                <span class="glyphicon glyphicon-hand-right"> </span>
                Message 1
            </li>
            <li class="list-group-item text-info">
                <span class="glyphicon glyphicon-hand-right"></span>
                Message 2
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><h4>Mission</h4></div>
  <div class="panel-body">
    <ul class="list-group">
        <li class="list-group-item text-danger">
            <span class="glyphicon glyphicon-hand-right"> </span>
            <span class="badge alert-danger"> <b>14</b></span>
            Mission non validée par Employé
        </li>
        <li class="list-group-item text-danger">
            <span class="glyphicon glyphicon-hand-right"></span>
            <span class="badge alert-danger"> <b>15</b></span>
            Mission non validée par Rollout
        </li>
        <li class="list-group-item text-danger">
            <span class="glyphicon glyphicon-hand-right"></span>
            <span class="badge alert-danger"> <b>16</b></span>
            Mission non validée par Comptabilité
        </li>

    </ul>
  </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h4>Fichiers à vérifier</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item text-danger">
                <span class="glyphicon glyphicon-hand-right"> </span>
                <span class="badge alert-danger"> <b>14</b></span>
                Dépenses non validée par la Comptabilité
            </li>
            <li class="list-group-item text-danger">
                <span class="glyphicon glyphicon-hand-right"></span>
                <span class="badge alert-danger"> <b>15</b></span>
                Sites non validé par Rollout
            </li>

        </ul>
    </div>
</div>
{% endif %}
#}
{% if is_granted('ROLE_CHEF_PARK') %}
{% if sansAssurances != null %}
    <div class="panel panel-danger"> {# Véhicule sans assurance #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#sansAssurance" aria-expanded="false" aria-controls="sansAssurance">
                                <b>Véhicule sans assurance</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#sansAssurance" aria-expanded="false" aria-controls="sansAssurance">
                            <span class="badge alert-danger"> <b>{{ sansAssurances|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="sansAssurance">
            <table class="table">
            <thead>
                <tr class="danger">
                    <th scope="col">Véhicule</th>
                </tr>
            </thead>
            <tbody>
                {% for sansAssurance in sansAssurances %}
                    <tr class="danger">
                        <td>{{ sansAssurance.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if sansControlTechniques != null %}
    <div class="panel panel-danger"> {# Véhicule sans controle technique #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#sansControlTechnique" aria-expanded="false" aria-controls="sansControlTechnique">
                                <b>Véhicule sans controle technique</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#sansControlTechnique" aria-expanded="false" aria-controls="sansControlTechnique">
                            <span class="badge alert-danger"> <b>{{ sansControlTechniques|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="sansControlTechnique">
            <table class="table">
            <thead>
                <tr class="danger">
                    <th scope="col">Véhicule</th>
                </tr>
            </thead>
            <tbody>
                {% for sansControlTechnique in sansControlTechniques %}
                    <tr class="danger">
                        <td>{{ sansControlTechnique.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if assuranceDepassers != null %}
    <div class="panel panel-danger"> {# Assurances dépasser #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#assuranceDepasser" aria-expanded="false" aria-controls="assuranceDepasser">
                                <b>Assurances dépasser</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#assuranceDepasser" aria-expanded="false" aria-controls="assuranceDepasser">
                            <span class="badge alert-danger"> <b>{{ assuranceDepassers|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="assuranceDepasser">
            <table class="table">
            <thead>
                <tr class="danger">
                    <th scope="col">Véhicule</th>
                    <th scope="col" class="text-right">Date fin d'assurance</th>
                    <th scope="col" class="text-right">Dépasser</th>
                </tr>
            </thead>
            <tbody>
                {% for assuranceDepasser in assuranceDepassers %}
                    {% set difference = date(assuranceDepasser.finAssurance).diff(date('now')) %}
                    {% set leftDays = difference.days %}
                    {% if (leftDays <= seuilAssurance) %}
                        <tr class="danger">
                            <td>{{ assuranceDepasser.nom }}</td>
                            <td class="text-right">{{ assuranceDepasser.finAssurance|date("d/m/Y") }}</td>
                            <td class="text-right">{{ leftDays | number_format(0, ' ', ' ') }} jours</td>

                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}


{% if controlTechDepassers != null %}
    <div class="panel panel-danger"> {# Controle technique dépasser #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#controlTechDepasser" aria-expanded="false" aria-controls="controlTechDepasser">
                                <b>Controle technique dépasser</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#controlTechDepasser" aria-expanded="false" aria-controls="controlTechDepasser">
                            <span class="badge alert-danger"> <b>{{ controlTechDepassers|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="controlTechDepasser">
            <table class="table">
            <thead>
                <tr class="danger">
                    <th scope="col">Véhicule</th>
                    <th scope="col" class="text-right">Date fin controle technique</th>
                    <th scope="col" class="text-right">Dépasser</th>
                </tr>
            </thead>
            <tbody>
                {% for controlTechDepasser in controlTechDepassers %}
                    {% set difference = date(controlTechDepasser.finControlTech).diff(date('now')) %}
                    {% set leftDays = difference.days %}
                        <tr class="danger">
                            <td>{{ controlTechDepasser.nom }}</td>
                            <td class="text-right">{{ controlTechDepasser.finControlTech|date("d/m/Y") }}</td>
                            <td class="text-right">{{ leftDays | number_format(0, ' ', ' ') }} jours</td>

                        </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if entretiensDepasser != null %}
    <div class="panel panel-danger"> {# Entretiens Dépasser #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#entretienDepasser" aria-expanded="false" aria-controls="entretienDepasser">
                                <b>Entretiens Dépassers</b> 
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#entretienDepasser" aria-expanded="false" aria-controls="entretienDepasser">
                            <span class="badge alert-danger"> <b>{{entretiensDepasser|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="entretienDepasser">
            <table class="table">
            <thead>
                <tr class="danger">
                    <th scope="col">Véhicule</th>
                    <th scope="col">Intervention</th>
                    <th scope="col" class="text-right">Interval</th>
                    <th scope="col" class="text-right">Dernier Intervention</th>
                    <th scope="col" class="text-right">Dernier Relever</th>
                    <th scope="col" class="text-right">Dépassés</th>
                </tr>
            </thead>
            <tbody>
                {% for entretienDepasser in entretiensDepasser %}
                    <tr class="danger">
                        <td>{{ entretienDepasser.nom }}</td>
                        <td>{{ entretienDepasser.designation }}</td>
                        <td class="text-right">{{ entretienDepasser.kms | number_format(0, ' ', ' ') }} Kms</td>
                        <td class="text-right">{{ entretienDepasser.dernierKms | number_format(0, ' ', ' ')}} Kms</td>
                        <td class="text-right">{{ entretienDepasser.kmsRelever | number_format(0, ' ', ' ')}} Kms</td>
                        <td class="text-right"><b>{{ entretienDepasser.reste | number_format(0, ' ', ' ')}} Kms</b></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if interventionImportantes != null %}
    <div class="panel panel-danger"> {# Entretiens non associer #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#interventionImportante" aria-expanded="false" aria-controls="interventionImportante">
                                <b>Interventions importantes non associer aux marques</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#interventionImportante" aria-expanded="false" aria-controls="interventionImportante">
                            <span class="badge alert-danger"> <b>{{ interventionImportantes|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="interventionImportante">
            <table class="table">
            <thead>
                <tr class="danger">
                    <th scope="col">Marques</th>
                    <th scope="col">Interventions</th>
                </tr>
            </thead>
            <tbody>
                {% for interventionImportante in interventionImportantes %}
                    <tr class="danger">
                        <td>{{ interventionImportante.nom }}</td>
                        <td>{{ interventionImportante.designation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if assuranceAlertes != null %}
    <div class="panel panel-info"> {# Assurances à faire #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#assuranceAlerte" aria-expanded="false" aria-controls="assuranceAlerte">
                                <b>Assurances à faire</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#assuranceAlerte" aria-expanded="false" aria-controls="assuranceAlerte">
                            <span class="badge alert-info"> <b>{{ assuranceAlertes|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="assuranceAlerte">
            <table class="table">
            <thead>
                <tr class="info">
                    <th scope="col">Véhicule</th>
                    <th scope="col" class="text-right">Date fin d'assurance</th>
                    <th scope="col" class="text-right">Rester</th>
                </tr>
            </thead>
            <tbody>
                {% for assuranceAlerte in assuranceAlertes %}
                    {% set difference = date(assuranceAlerte.finAssurance).diff(date('now')) %}
                    {% set leftDays = difference.days %}
                    <tr class="info">
                        <td>{{ assuranceAlerte.nom }}</td>
                        <td class="text-right">{{ assuranceAlerte.finAssurance|date("d/m/Y") }}</td>
                        <td class="text-right">{{ leftDays | number_format(0, ' ', ' ') }} jours</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if controlTechAlertes != null %}
    <div class="panel panel-info"> {# Controle technique à faire #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#controlTechAlerte" aria-expanded="false" aria-controls="controlTechAlerte">
                                <b>Controle technique à faire</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#controlTechAlerte" aria-expanded="false" aria-controls="controlTechAlerte">
                            <span class="badge alert-info"><b>{{ controlTechAlertes|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id = "controlTechAlerte">
            <table class="table">
            <thead>
                <tr class="info">
                    <th scope="col">Véhicule</th>
                    <th scope="col" class="text-right">Date fin conrole technique</th>
                    <th scope="col" class="text-right">Rester</th>
                </tr>
            </thead>
            <tbody>
                {% for controlTechAlerte in controlTechAlertes %}
                    {% set difference = date(controlTechAlerte.finControlTech).diff(date('now')) %}
                    {% set leftDays = difference.days %}
                    <tr class="info">
                        <td>{{ controlTechAlerte.nom }}</td>
                        <td class="text-right">{{ controlTechAlerte.finControlTech|date("d/m/Y") }}</td>
                        <td class="text-right">{{ leftDays | number_format(0, ' ', ' ') }} jours</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}

{% if entretiensAFaire != null %}
    <div class="panel panel-info"> {# Entretiens à faire #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#entretienAFaire" aria-expanded="false" aria-controls="entretienAFaire">
                                <b>Entretiens à faire</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#entretienAFaire" aria-expanded="false" aria-controls="entretienAFaire">
                            <span class="badge alert-info"><b>{{ entretiensAFaire|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="entretienAFaire">
            <table class="table">
            <thead>
                <tr class="info">
                    <th scope="col">Véhicule</th>
                    <th scope="col">Intervention</th>
                    <th scope="col" class="text-right">Interval</th>
                    <th scope="col" class="text-right">Dernier Intervention</th>
                    <th scope="col" class="text-right">Dernier Relever</th>
                    <th scope="col" class="text-right">Rester</th>
                </tr>
            </thead>
            <tbody>
                {% for entretienAFaire in entretiensAFaire %}
                    <tr class="info">
                        <td>{{ entretienAFaire.nom }}</td>
                        <td>{{ entretienAFaire.designation }}</td>
                        <td class="text-right">{{ entretienAFaire.kms | number_format(0, ' ', ' ') }} Kms</td>
                        <td class="text-right">{{ entretienAFaire.dernierKms | number_format(0, ' ', ' ')}} Kms</td>
                        <td class="text-right">{{ entretienAFaire.kmsRelever | number_format(0, ' ', ' ')}} Kms</td>
                        <td class="text-right"><b>{{ entretienAFaire.reste | abs | number_format(0, ' ', ' ')}} Kms</b></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif  %}

{% if relevers != null %}
    <div class="panel panel-info"> {# Relever compteur véhicule #}
        <div class="panel-heading">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-hand-right"> 
                            <a role="button" data-toggle="collapse" href="#relever" aria-expanded="false" aria-controls="relever">
                                <b>Relever compteur véhicule</b>
                            </a>
                        </span>
                    </td>
                    <td class="text-right">
                        <a role="button" data-toggle="collapse" href="#relever" aria-expanded="false" aria-controls="relever">
                            <span class="badge alert-info"><b>{{ relevers|length }}</b></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body collapse" id="relever">
            <table class="table">
            <thead>
                <tr class="info">
                    <th scope="col">Véhicule</th>
                    <th scope="col" class="text-right">Date relever</th>
                    <th scope="col" class="text-right">Kms</th>
                    <th scope="col" class="text-right">Relever chaque</th>
                    <th scope="col" class="text-right">Jours dépasser</th>
                </tr>
            </thead>
            <tbody>
                {% for relever in relevers %}
                    {% set difference = date(date('now')).diff(relever.dateRelever) %}
                    {% set leftDays = difference.days %}
                    <tr class="info">
                        <td>{{ relever.nom }}</td>
                        <td class="text-right">{{ relever.dateRelever|date("d/m/Y") }}</td>
                        <td class="text-right">{{ relever.kmsRelever | number_format(0, ' ', ' ') }} Kms</td>
                        <td class="text-right">{{ relever.nbrjAlertRelever }} Jours</td>
                        <td class="text-right">{{ leftDays | number_format(0, ' ', ' ') }} jours</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endif %}


{% endif %}


{# {% include "@App/modal.message.html.twig" %} #}

{% endblock %}

{% block js %}
<script>
    
</script>
{% endblock %}