{% extends "base.html.twig" %}
{% block title %}Liste entretiens - {{ parent() }}{% endblock %}

{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('entretien_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('entretien_sort', {field: field, type: 'DESC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort-by-attributes"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('entretien_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block bodyliste %}
    <div class="col-md-2">
    {% include '@App/Entretien/filter.html.twig' with {form: form} %}
    </div>
    <div class="col-md-10">
    {#{% include "@App/messages.html.twig" %}#}
    <h4>Liste des entretiens</h4>
    {{ knp_pagination_render(paginator) }}
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ thead('entretien', 'date', 'Date') }}</th>
                <th scope="col">{{ thead('entretien', 'vehicule.nom', 'Vehicule') }}</th>
                <th scope="col">{{ thead('entretien', 'user.nom', 'Chauffeur') }}</th>
                <th scope="col">{{ thead('entretien', 'kms', 'Kms') }}</th>
                <th scope="col">{{ thead('entretien', 'obs', 'Obs') }}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entretien in paginator %}
                <tr>
                    <td>{{ entretien.date | date('d/m/Y') }}</td>
                    <td>{{ entretien.vehicule.nom }}</td>
                    <td>{{ entretien.user.nom }}</td>
                    <td class="text-right">{{ entretien.kms | number_format(0, ' ',' ') }}</td>
                    <td>{{ entretien.obs }}</td>
                    <td>
                        <a class="btn btn-primary" title="Modifier" href="{{ path('entretien_show', {id: entretien.id | Mycrypt}) }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <button class="btn btn-danger" data-toggle="modal" title="Supprimer" data-target="#modalDeleteEntretien"
                                data-id="{{ entretien.id }}">
                                <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(paginator) }}

    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('entretien_new') }}">
                <i class="glyphicon glyphicon-plus"></i>Nouveau
            </a>
        </li>
    </ul>
</div>

<!-- Modale delete Entretien-->
<div id="modalDeleteEntretien" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalDeleteEntretienLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer cette Entretien, cette procédure est irréversible.</p>
                <p>Voulez-vous poursuivre?</p>
            </div>
            <div class="modal-footer">
                <form name="form" id="modalDeleteEntretienForm" action="#" method="post">
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i>
                        Supprimer</button>
                    <button class="btn btn-primary" data-dismiss="modal">Non</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#modalDeleteEntretien').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var cURL = Routing.generate('entretien_delete', { id: id });
            //alert(cURL);
            $("#modalDeleteEntretienForm").attr('action', cURL);
        })

    })
</script>
{% endblock %}