{% extends "base.html.twig" %}
{% block title %}Entretien - {{ parent() }}{% endblock %}
{% block bodysaisie %}
{#{% include "@App/messages.html.twig" %}#}
<p id="erreur">{{erreur}}</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4> Entretien </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ entretien.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td>{{ entretien.date | date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th scope="row">Vehicule</th>
                    <td>{{ entretien.vehicule.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Chauffeur</th>
                    <td>{{ entretien.user.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Obs</th>
                    <td>{{ entretien.obs }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('entretien_index') }}">
                <i class="glyphicon glyphicon-list"></i> Retour à la liste
            </a>
            <a class="btn btn-primary" href="{{ path('entretien_edit', {id: entretien.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-edit"></i>Modifier
            </a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteEntretien"><i class="glyphicon glyphicon-trash"></i> Supprimer</button>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Interventions</h4>
    </div> 
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
               {% for intervention in interventions %}
                <tr>
                    <td> <i class="glyphicon glyphicon-hand-right"> {{ intervention.interventionVehicule.designation }}</i></td>
                    <td> {{ intervention.qte }}</td>
                    <td> {{ intervention.interventionVehicule.unite }}</td>
                    <td> {{ intervention.obs }}</td>
                    <td class="text-right">
                        <a class="btn btn-primary" href="#" onclick='edit_intervention( "{{ entretien.id }}",
                                                                                        "{{ intervention.id }}",
                                                                                        "{{ intervention.interventionVehicule.id }}",
                                                                                        "{{ intervention.interventionVehicule.designation }}",
                                                                                        "{{ intervention.qte }}",
                                                                                        "{{ intervention.obs }}");
                                                                                        return false;'>
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteIntervention" data-id="{{ intervention.id }}"><i
                                class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-primary" href="#" onclick="new_intervention(null,null,null,null,null);return false;">
                <i class="glyphicon glyphicon-plus">Nouveau</i>
            </a>


            
        </div>
    </div>
</div>
<!-- Modale delete Entretien-->
<div id="modalDeleteEntretien" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Veuillez confimer la suppression </p>
            </div>
            <div class="modal-footer">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash-o"></i> Oui</button>
                    <button class="btn btn-primary" data-dismiss="modal">Non</button>
                    <input name="modal" type="hidden" value="0">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
</div>
<!-- Modale add Intervention -->
<div id="modalAddIntervention" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddInterventionLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id = "titre_add">Ajouter une intervention:</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <p>
                    <button class="btn btn-primary" type="submit">Valider</button>
                </p>
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modale delete Intervention-->
<div id="modalDeleteIntervention" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalDeleteInterventionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer cet élément, cette procédure est irréversible.</p>
                <p>Voulez-vous poursuivre?</p>
            </div>
            <div class="modal-footer">
                <form name="form" id="modalDeleteInterventionForm" action="#" method="post">
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i>
                        Supprimer</button>
                    <button class="btn btn-primary" data-dismiss="modal">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script> 
$(document).ready(function () {
    $('#modalDeleteIntervention').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        var cURL = Routing.generate('intervention_entretien_delete', { id: id });
        //alert(cURL);
        $("#modalDeleteInterventionForm").attr('action', cURL);
    })

    var erreur = $('#erreur').html();
    if (erreur == 1){
        $("#modalAddIntervention").modal('show');
    }

})

function edit_intervention(entretien,id_old,intervention,des,qte,obs) {
    //console.log(intervention);
    $('#intervention_entretien_interventionVehicule').empty();
    $('#intervention_entretien_qte').val(qte);
    $('#intervention_entretien_obs').val(obs);
    $('#intervention_entretien_id_old').val(id_old);
    //alert(des);
    $('#titre_add').html('Modification: <small>' + des + '</small>');
    var cURL = Routing.generate('select_intervention_vehicule', { entretien: entretien, intervention: intervention });
    $.post(
            cURL,
            function (data) {
                //console.log(typeof data.interventions);
                var intervention_ajx = JSON.parse(data.interventions);
                //console.log(data.interventions.length);
                //console.log(data.autres);
                for (i = 0; i < intervention_ajx.length; i++) {
                    //ligne = '';
                    //console.log(intervention_ajx[i]['designation']);
                    var id = intervention_ajx[i]['id'];
                    var des = intervention_ajx[i]['designation'];
                    if (id == intervention){
                        $('#intervention_entretien_interventionVehicule').append($('<option selected="selected"></option>').val(id).html(des));
                    }else{
                        $('#intervention_entretien_interventionVehicule').append($('<option></option>').val(id).html(des));
                    }
                    
                }
                //$('#intervention_entretien_interventionVehicule').val(intervention);
            }
        )

    $("#modalAddIntervention").modal('show');
}

function new_intervention(id) {
    
    $('#intervention_entretien_interventionVehicule').val('');
    $('#intervention_entretien_qte').val('');
    $('#intervention_entretien_obs').val('');
    $('#intervention_entretien_id_old').val(null);
    $('#titre_add').html('Ajouter');

    $("#modalAddIntervention").modal('show');
}


</script>
{% endblock %}
