{% extends "base.html.twig" %}
{% block title %}Prestation - {{ parent() }}{% endblock %}
{% block bodysaisie %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4> Prestation </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ prestation.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Projet</th>
                    <td>{{ prestation.projet }}</td>
                </tr>
                <tr>
                    <th scope="row">Client</th>
                    <td>{{ prestation.projet.client.nom }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('prestation') }}">
                <i class="glyphicon glyphicon-list"></i> Prestations
            </a>
            <a class="btn btn-info" href="{{ path('projet') }}">
                <i class="glyphicon glyphicon-list"></i> Projets
            </a>
            <a class="btn btn-primary" href="{{ path('prestation_edit', {id: prestation.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-edit"></i>Modifier
            </a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeletePrestation"><i class="glyphicon glyphicon-trash"></i> Supprimer</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Tarif</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
                {% for prestationBc in prestationBcs %}
                <tr>
                    <td> Zone N° : {{ prestationBc.zone.id }}</td>
                    <td class="text-right"> <b> {{ prestationBc.montant | number_format(2, ',', '.') }} DA</b></td>
                    <td class="text-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalEditMontantPrestation"
                            data-zone="{{ prestationBc.zone.id }}" data-id="{{ prestationBc.id }}" data-montant="{{ prestationBc.montant }}"><i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteMontantPrestation"
                            data-id="{{ prestationBc.id }}"><i
                                class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalNewMontantPrestation"
                 data-id="{{ prestation.id }}"><i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
 </div>

<!-- Modale delete Prestation-->
   <div id="modalDeletePrestation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Confirmer la suppression</h4>
                </div>
                <div class="modal-body">
                    <p>Veuillez confimer la suppression </p>
                </div>
                <div class="modal-footer">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}
                        <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash-o"></i> Oui</button>
                        <button class="btn btn-primary" data-dismiss="modal">Non</button>
                        <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>

<!-- Modale delete prestationBc-->
<div id="modalDeleteMontantPrestation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Veuillez confimer la suppression </p>
            </div>
            <div class="modal-footer">
                <form name="form" id="modalDeleteMontantPrestationForm" action="#" method="post">
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i>
                        Supprimer</button>
                    <button class="btn btn-primary" data-dismiss="modal">Non</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modale edit prestationBc-->
<div id="modalEditMontantPrestation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Modifier le montant</h4>
            </div>
            
            <div class="modal-body">
                <table class="table table-hover record_properties">
                    <tbody>
                        <tr>
                            <th scope="row">Préstation</th>
                            <td>{{ prestation.nom }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Zone</th>
                            <td id ="zone">Zone</td>
                        </tr>
                    </tbody>
                </table>
                {{ form_start(edit_montant_form, {'attr': {'id': 'edit_montant_form'}}) }}
                {{ form_widget(edit_montant_form) }}
            </div>
            <div class="modal-footer">
               
                <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash-o"></i> Valider</button>
                <button class="btn btn-primary" data-dismiss="modal">Non</button>
                <input name="modal" type="hidden" value="0">
                
            </div>
            {{ form_end(edit_montant_form) }}
        </div>
    </div>
</div>

<!-- Modale new prestationBc-->
<div id="modalNewMontantPrestation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Ajouter </h4>
            </div>

            <div class="modal-body">
                <table class="table table-hover record_properties">
                    <tbody>
                        <tr>
                            <th scope="row">Préstation</th>
                            <td>{{ prestation.nom }}</td>
                        </tr>
                    </tbody>
                </table>
                {{ form_start(new_montant_form, {'attr': {'id': 'new_montant_form'}}) }}
                {{ form_widget(new_montant_form) }}
            </div>
            <div class="modal-footer">

                <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash-o"></i>
                    Valider</button>
                <button class="btn btn-primary" data-dismiss="modal">Non</button>
                <input name="modal" type="hidden" value="0">

            </div>
            {{ form_end(new_montant_form) }}
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script> 
    $(document).ready(function () {
        $('#modalDeleteMontantPrestation').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var cURL = Routing.generate('prestationBc_delete', { id: id });
            //alert(cURL);
            $("#modalDeleteMontantPrestationForm").attr('action', cURL);
        })

        $('#modalEditMontantPrestation').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var zone = button.data('zone');
            var montant = button.data('montant');
            $('#prestationBc_montant').val(montant);
            $('#zone').html('Zonne N° : ' + zone);
            var cURL = Routing.generate('prestationBc_edit', { id: id });
            //alert(montant);
            $("#edit_montant_form").attr('action', cURL);
        })

        $('#modalNewMontantPrestation').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            //var zone = button.data('zone');
            //var montant = button.data('montant');
            //$('#prestationBc_montant').val(montant);
            //$('#zone').html('Zonne N° : ' + zone);
            var cURL = Routing.generate('prestationBc_new', { id: id });
            //alert(montant);
            $("#new_montant_form").attr('action', cURL);
        })
    })
</script>
{% endblock %}
