{% extends "base.html.twig" %}
{% block title %}Liste vehicules - {{ parent() }}{% endblock %}

{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('vehicule_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('vehicule_sort', {field: field, type: 'DESC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort-by-attributes"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('vehicule_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block bodyliste %}
    <div class="col-md-2">
    {% include '@App/Vehicule/filter.html.twig' with {form: form} %}
    </div>
    <div class="col-md-10">
    {#{% include "@App/messages.html.twig" %}#}
    <h4>Liste Vehicules</h4>
    {{ knp_pagination_render(paginator) }}
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ thead('vehicule', 'nom', 'Nom') }}</th>
                <th scope="col" class="text-center">{{ thead('vehicule', 'active', 'Active') }}</th>
                <th scope="col" class="text-right">Relever</th>
                <th scope="col" class="text-right">Etat relever</th>
                <th scope="col" class="text-right">{{ thead('vehicule', 'dateRelever', 'Date relever') }}</th>
                <th scope="col" class="text-right">Kms</th>
                <th scope="col" class="text-right">D.Assurance</th>
                <th scope="col" class="text-right">F.Assuarnce</th>
                <th scope="col" class="text-right">D.C.Tech</th>
                <th scope="col" class="text-right">F.C.Tech</th>                
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicule in paginator %}
                {% set difference = date("now").diff(date(vehicule.dateRelever)) %}
                {% set leftDays = difference.days %}
                <tr>
                
                    <td>{{ vehicule.nom }}</td>
                    <td class="text-center">
                        {% if vehicule.active %}
                            <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                    </td>
                    <td class="text-right">{{ vehicule.nbrjAlertRelever }} jours
                    </td>
                    <td class="text-right"> {% if leftDays > vehicule.nbrjAlertRelever %} <b class="text-danger"> {{ ((vehicule.nbrjAlertRelever - leftDays) | abs)  }} jours </b > {% else %} {{ (vehicule.nbrjAlertRelever - leftDays)  }} jours {% endif %} </td>
                    <td class="text-right">{{ vehicule.dateRelever | date('d/m/Y') }}</td>
                    <td class="text-right">{{ vehicule.kmsRelever | number_format(0, ' ', ' ') }} Kms</td>
                    <td class="text-right">{{ vehicule.debutAssurance | date('d/m/Y') }}</td>
                    <td class="text-right">
                        {% if vehicule.obsAssurance != "" %} 
                            <a data-toggle="tooltip" data-placement="bottom" title="{{ vehicule.obsAssurance }}" href="{{ path('vehicule_edit_assurance', {id: vehicule.id | Mycrypt}) }}">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        {% endif %}
                        {% if date(vehicule.finAssurance) < date('+14days') %}
                            <b class="text-danger"> {{ vehicule.finAssurance | date('d/m/Y') }} </b>
                        {% else %}
                            {{ vehicule.finAssurance | date('d/m/Y') }}
                        {% endif %}
                        
                    </td>
                    <td class="text-right">{{ vehicule.debutControlTech | date('d/m/Y') }}</td>
                    <td class="text-right">
                        {% if vehicule.obsControlTech != "" %} 
                            <a data-toggle="tooltip" data-placement="bottom" title="{{ vehicule.obsControlTech }}" href="{{ path('vehicule_edit_control_tech', {id: vehicule.id | Mycrypt}) }}">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        {% endif %}
                        {% if date(vehicule.finControlTech) < date('+14days') %}
                            <b class="text-danger"> {{ vehicule.finControlTech | date('d/m/Y') }} </b>
                        {% else %}
                            {{ vehicule.finControlTech | date('d/m/Y') }}
                        {% endif %}
                        </td>
                    <td>
                        {% if vehicule.active %}
                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Modifier" href="{{ path('vehicule_edit', {id: vehicule.id | Mycrypt}) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Relever compteur" href="{{ path('vehicule_edit_relever', {id: vehicule.id | Mycrypt}) }}">
                                <i class="glyphicon glyphicon-dashboard"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Assurance" href="{{ path('vehicule_edit_assurance', {id: vehicule.id | Mycrypt}) }}">
                                <i class="glyphicon glyphicon-th-list"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Controle Technique" href="{{ path('vehicule_edit_control_tech', {id: vehicule.id | Mycrypt}) }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                            <button class="btn btn-danger" data-toggle="modal" title="Supprimer" data-target="#modalDeleteVehicule"
                                data-id="{{ vehicule.id }}">
                                <i class="glyphicon glyphicon-trash"></i>
                        </button>
                        
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(paginator) }}

    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('vehicule_new') }}">
                <i class="glyphicon glyphicon-plus"></i>Nouveau
            </a>
        </li>
    </ul>
</div>
<!-- Modale delete Vehicule-->
<div id="modalDeleteVehicule" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalDeleteVehiculeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer ce Vehicule, cette procédure est irréversible.</p>
                <p>Voulez-vous poursuivre?</p>
            </div>
            <div class="modal-footer">
                <form name="form" id="modalDeleteVehiculeForm" action="#" method="post">
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i>
                        Supprimer</button>
                    <button class="btn btn-primary" data-dismiss="modal">Non</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $('#modalDeleteVehicule').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var cURL = Routing.generate('vehicule_delete', { id: id });
            //alert(cURL);
            $("#modalDeleteVehiculeForm").attr('action', cURL);
        })

    })
</script>
{% endblock %}