{% extends "base.html.twig" %}
{% block title %}PO - {{ parent() }}{% endblock %}
{% block bodysaisie %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4> PO </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
                 <tr>
                    <th scope="row">Num PO</th>
                    <td>{{ po.num }}</td>
                </tr>
                <tr>
                    <th scope="row">date</th>
                    <td>{{ po.date is empty ? '' : po.date | date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>
                        {% if po.active %}
                            <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('po_index') }}">
                <i class="glyphicon glyphicon-list"></i> Retour à la liste
            </a>
            {% if (po.active == false) %}
            <a class="btn btn-primary" href="{{ path('po_edit', {id: po.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-edit"></i>Modifier
            </a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeletepo"><i class="glyphicon glyphicon-trash"></i> Supprimer</button>
            {% endif %}
        </div>
    </div>
</div>
{#
{{ form_start(form) }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{% if (methode == 'Post') %}Nouveau {% else %} Modifier {% endif %}</h4>
    </div> 
    <div class="panel-body">
        <table class="table ">
            <tbody>
               <tr>
                    <td>{{ form_widget(form.interventionVehicule)}} {{ form_errors(form.interventionVehicule)}}</td>
                    <td>{{ form_widget(form.kms)}} {{ form_errors(form.kms)}}</td>
                    <td>{{ form_widget(form.obs)}} {{ form_errors(form.obs)}}</td>
                </tr>               
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i> Valider </button>
        <a class="btn btn-primary" href="{{ path('interventionVehicule_show', {id: po.id | Mycrypt}) }}" >
                <i class="glyphicon glyphicon-plus">Nouveau</i>
        </a>
        </div>
    </div>
</div>
 {{ form_end(form)}} 

 #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Liste des BC / WO</h4>
    </div> 
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
               {% for bc in bcs %}
                <tr>
                    <td> {{ bc.num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Modale delete po-->
<div id="modalDeletepo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Veuillez confimer la suppression </p>
            </div>
            <div class="modal-footer">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash-o"></i> Oui</button>
                    <button class="btn btn-primary" data-dismiss="modal">Non</button>
                    <input name="modal" type="hidden" value="0">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
</div>

<!-- Modale delete Intervention-->
<div id="modalDeleteIntervention" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalDeleteInterventionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer cet élément, cette procédure est irréversible.</p>
                <p>Voulez-vous poursuivre?</p>
            </div>
            <div class="modal-footer">
                <form name="form" id="modalDeleteInterventionForm" action="#" method="post">
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash"></i>
                        Supprimer</button>
                    <button class="btn btn-primary" data-dismiss="modal">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script> 
$(document).ready(function () {
    $('#modalDeleteIntervention').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        var po = button.data('po') // Extract info from data-* attributes
        var cURL = Routing.generate('kmspo_delete', { id: id,po: po });
        //alert(cURL);
        $("#modalDeleteInterventionForm").attr('action', cURL);
    })

})


</script>
{% endblock %}
