{% extends "base.html.twig" %}
{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}
BC -{{ parent() }}
{% endblock %}
{% block bodysaisie %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Bon de commande</h4>
    </div>
    <div class="panel panel-body">
        <table class="table table-hover record_properties">
            <tbody>
                <tr>
                    <th scope="row"> Numéro</th>
                    <td>{{ bc.num }}</td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td>{{ bc.date | date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th scope="row">Projet</th>
                    <td>{{ bc.projet.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Client</th>
                    <td>{{ bc.projet.client.nom }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-heading"><h4>Prestation</h4></div>
    <div class="panel-body">
        {{ form_start(form, {action: path('bc_add_prestation',{id: bc.id | Mycrypt})}) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">
                Valider
            </button>
        </p>
        {{ form_end(form) }}
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('bc_show',{id: bc.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-list"></i>
                Retour
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}