{% extends "base.html.twig" %}
{% block title %}Liste bon de commandes - {{ parent() }}{% endblock %}

{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('bc_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('bc_sort', {field: field, type: 'DESC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort-by-attributes"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('bc_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="glyphicon glyphicon-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block bodyliste %}
    <div class="col-md-2">
    {% include '@App/Site/filter.html.twig' with {form: form} %}
    </div>
    <div class="col-md-10">
    {#{% include "@App/messages.html.twig" %}#}
    <h4>Liste des bon de commande</h4>
    {{ knp_pagination_render(paginator) }}
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ thead('bc', 'num', 'Num') }}</th>
                <th scope="col">{{ thead('bc', 'date', 'Date') }}</th>
                <th scope="col">{{ thead('bc', 'po.num', 'PO') }}</th>
                <th scope="col">{{ thead('bc', 'responsableBc', 'Responsable') }}</th>
                <th scope="col">{{ thead('bc', 'projet.nom', 'Projet') }}</th>
                <th scope="col">{{ thead('bc', 'projet.client.nom', 'Client') }}</th>  
                <th class="text-right">Montant</th>
                <th class="text-right">Consommé</th>
                <th class="text-right">Resté</th>
            </tr>
        </thead>
        <tbody>
            {% for bc in paginator %}
                <tr>
                    <td><a href="{{ path('bc_show', {id: bc.id | Mycrypt}) }}">{{ bc.num }}</a></td>
                    <td>{{ bc.date | date('d/m/Y') }}</td>
                    <td>{{ bc.po is empty ? '' : bc.po.num}}</td>
                    <td>{{ bc.responsableBc.nom }}</td>
                    <td>{{ bc.projet.nom}}</td>
                    <td>{{ bc.projet.client.nom}}</td>
                    <td class="text-right">{% set s = 0 %} 
                        {% for p in bc.prestationBcs %}
                        {% set s =  s + (p.montant * p.quantite) %}
                        {% endfor %}
                        {{ s | number_format(2, ',', ' ') }}
                    </td>
                    <td class="text-right">
                        {{ consommer[bc.id] | number_format(2, ',', ' ') }}</td>
                    <td class="text-right">
                        {{ (s - consommer[bc.id]) | number_format(2, ',', ' ') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(paginator) }}

    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ path('bc_new') }}">
                <i class="glyphicon glyphicon-plus"></i>Nouveau
            </a>
        </li>
    </ul>
</div>
{% endblock %}
{% block js %}

{% endblock %}