{% extends "base.html.twig" %}
{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}Nouveau BC - {{ parent() }}{% endblock %}
{% block bodysaisie %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Nouveau BC</h2>
    </div>
    <div class="panel-body">
        {{ form_start(form, {action: path('bc_new')}) }}
        {{ form_widget(form) }}
            <p>
                <button class="btn btn-primary" type="submit">Valider</button>
            </p>
        {{ form_end(form) }}
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
<<<<<<< HEAD
            <a class="btn btn-info" href="{{ path('bc_index') }}">
=======
            <a class="btn btn-info" href="{{ path('site') }}">
>>>>>>> c4c86e1f6dacdb75bcb034443d12a868987ff8f1
                <i class="glyphicon glyphicon-list"></i> Liste
            </a>
        </div>
    </div>


{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}