{% extends "base.html.twig" %}
{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}Nouveau - {{ parent() }}{% endblock %}
{% block bodysaisie %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Nouveau Pointage </h2>
    </div>
    <div class="panel-body">
        {{ form_start(form, {action: path('pointage_new')}) }}
        {{ form_widget(form) }}
            <p>
                <button class="btn btn-primary" type="submit">Créer</button>
            </p>
        {{ form_end(form) }}
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('pointage_index') }}">
                <i class="glyphicon glyphicon-list"></i> Retour
            </a>
        </div>
    </div>


{% endblock %}

{% block js %}
<script>
function process_user(event) {
var date = $('#appbundle_pointageuser_date').val();
//alert(date);
var cURL = Routing.generate('pointage_users', { date: date });
 $('#appbundle_pointageuser_user option'). remove();
$.post(
        cURL,
        function (data) 
        {   //console.log(data);
            var users = JSON.parse(data.users);
            //console.log(data.interventions.length);
            //console.log(users);
            for (i = 0; i < users.length; i++) {
                var id = users[i]['id'];
                var nom = users[i]['nom'];
                console.log(nom);
                $('#appbundle_pointageuser_user').append($('<option></option>').val(id).html(nom));
            }
        }
    )

}
</script>
{% endblock %}