{% extends "base.html.twig" %}
{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}Nouveau {{ parent() }}{% endblock %}

{% block bodysaisie %}
{% if var|length > 0 %}
<div>
Compétences utilisées dans cet article :
<ul>
{% for articleCompetence in var %}
<li>{{ articleCompetence.user.id }} : {{articleCompetence.user.nom }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
{#
{{ form_start(form, {action: path('test')}) }}
{{ form_widget(form) }}
		<p>
			<button class="btn btn-primary" type="submit">Valider</button>
		</p>
        {{ form_end(form) }}

<hr> #}
{% endblock %}
{% block js %}
<script>
   const phoneInputField = document.querySelector("#personne_Phone");
   //alert(phoneInputField);
   const phoneInput = window.intlTelInput(phoneInputField, {
     utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
   });
 
function process(event) {
 const phoneNumber = phoneInput.getNumber();

 alert(phoneNumber);
 
}

</script>
{% endblock %}