{% extends "base.html.twig" %}
{% form_theme form_intervention 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}Nouvelle Mission - {{ parent() }}{% endblock %}
{% block detail %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><a class="btn btn-primary mr-2" href="{{ path('mission_intervention',{id: mission.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-list"></i>
            </a> Mission </h4>
    </div>
    <div class="panel-body">
        {% include "@App/Mission/mission.detail.html.twig" %}
    </div>
</div>
{% endblock %}

{% block contenu %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Nouvelle Intervention</h4>
    </div>
    {{ form_start(form_intervention, {action: path('mission_intervention_new',{id: id | Mycrypt })}) }}
    <div class="panel-body">

        <div>
            {{ form_errors(form_intervention) }}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.vehicule)}}
            {{ form_widget(form_intervention.vehicule)}}
            {{ form_errors(form_intervention.vehicule)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.dateIntervention)}}
            {{ form_widget(form_intervention.dateIntervention)}}
            {{ form_errors(form_intervention.dateIntervention)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.sitecode) }}
            <div class="input-group">
                {{ form_widget(form_intervention.sitecode) }}
                <span class="input-group-btn">
                    <button id="listeSite" class="btn btn-primary form-control" data-toggle="modal"
                        data-target="#modalSite">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                {{ form_errors(form_intervention.sitecode)}}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.sitenom)}}
            {{ form_widget(form_intervention.sitenom)}}
            {{ form_errors(form_intervention.sitenom)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.projet)}}
            {{ form_widget(form_intervention.projet)}}
            {{ form_errors(form_intervention.projet)}}
        </div>

        <div class="form-group">
            {{ form_label(form_intervention.prestationnom) }}
            <div class="input-group">
                {{ form_widget(form_intervention.prestationnom) }}
                <span class="input-group-btn">
                    <button id="listePrestation" class="btn btn-primary form-control" data-toggle="modal"
                        data-target="#modalPrestation">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                {{ form_errors(form_intervention.prestationnom)}}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.quantite)}}
            {{ form_widget(form_intervention.quantite)}}
            {{ form_errors(form_intervention.quantite)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.designation)}}
            {{ form_widget(form_intervention.designation)}}
            {{ form_errors(form_intervention.designation)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.reserves)}}
            {{ form_widget(form_intervention.reserves)}}
            {{ form_errors(form_intervention.reserves)}}
        </div>

        <!--
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalSite"><i class="glyphicon glyphicon-trash"></i>
                Supprimer
            </button>
            -->

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
    {{ form_end(form_intervention) }}
</div>

<!-- Modale liste site-->
<div id="modalSite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5>Liste des sites</h5>
            </div>
            <div class="modal-body form-inline">
                {{ form_start(form_recherche_site) }}
                <div class="form-group">
                    {{ form_label(form_recherche_site.client)}}
                    {{ form_widget(form_recherche_site.client)}}
                </div>
                <div class="form-group">
                    {{ form_label(form_recherche_site.nom) }}
                    <div class="input-group">
                        {{ form_widget(form_recherche_site.nom) }}
                        <span class="input-group-btn">
                            <button id="chercherSite" class="btn btn-primary form-control">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                {{ form_end(form_recherche_site)}}
            </div>
            <table id="listeSiteTable" class="table">
                <tbody></tbody>
            </table>
            <div class="modal-footer">
                <div id="btnNavigationSite" class="text-left"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modale liste Prestation--> 
<div id="modalPrestation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5>Liste des interventions</h5>
            </div>
            <div class="modal-body form-inline">
                {{ form_start(form_recherche_prestation) }}
                <div class="form-group">
                    {{ form_label(form_recherche_prestation.projet)}}
                    {{ form_widget(form_recherche_prestation.projet)}}
                </div>
                <div class="form-group">
                    {{ form_label(form_recherche_prestation.nom) }}
                    <div class="input-group">
                        {{ form_widget(form_recherche_prestation.nom) }}
                        <span class="input-group-btn">
                            <button id="chercherPrestation" class="btn btn-primary form-control">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                {{ form_end(form_recherche_prestation)}}
            </div>
            <table id="listePrestationTable" class="table">
                <tbody></tbody>
            </table>
            <div class="modal-footer">
                <div id="btnNavigationPrestation" class="text-left"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{{ asset('js/js/mission.intervention.js')}}"></script>
<script src="{{ asset('js/js/mission.intervention.site.js')}}"></script>
<script src="{{ asset('js/js/mission.intervention.prestation.js')}}"></script>
<script src="{{ asset('js/js/mission.intervention.projet.js')}}"></script>
{% endblock %}