{% extends "base.html.twig" %}
{% form_theme form_intervention 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}Nouvelle Mission - {{ parent() }}{% endblock %}
{% block detail %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4><a class="btn btn-primary mr-2" href="{{ path('mission_intervention',{id: mission.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-list"></i>
            </a> Mission </h4>
    </div>
    <div class="panel-body">
        {% include "@App/Mission/mission.detail.html.twig" %}
    </div>
</div>
{% endblock %}

{% block contenu %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Nouvelle Intervention</h4>
    </div>
    {{ form_start(form_intervention, {action: path('mission_intervention_new',{id: id | Mycrypt })}) }}
    <div class="panel-body">

        <div>
            {{ form_errors(form_intervention) }}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.vehicule)}}
            {{ form_widget(form_intervention.vehicule)}}
            {{ form_errors(form_intervention.vehicule)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.dateIntervention)}}
            {{ form_widget(form_intervention.dateIntervention)}}
            {{ form_errors(form_intervention.dateIntervention)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.sitecode) }}
            <div class="input-group">
                {{ form_widget(form_intervention.sitecode) }}
                <span class="input-group-btn">
                    <button id="listeSite" class="btn btn-primary form-control" data-toggle="modal"
                        data-target="#modalSite">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                {{ form_errors(form_intervention.sitecode)}}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.sitenom)}}
            {{ form_widget(form_intervention.sitenom)}}
            {{ form_errors(form_intervention.sitenom)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.projet)}}
            {{ form_widget(form_intervention.projet)}}
            {{ form_errors(form_intervention.projet)}}
        </div>

        <div class="form-group">
            {{ form_label(form_intervention.prestationnom) }}
            <div class="input-group">
                {{ form_widget(form_intervention.prestationnom) }}
                <span class="input-group-btn">
                    <button id="listePrestation" class="btn btn-primary form-control" data-toggle="modal"
                        data-target="#modalPrestation">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                {{ form_errors(form_intervention.prestationnom)}}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.quantite)}}
            {{ form_widget(form_intervention.quantite)}}
            {{ form_errors(form_intervention.quantite)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.designation)}}
            {{ form_widget(form_intervention.designation)}}
            {{ form_errors(form_intervention.designation)}}
        </div>
        <div class="form-group">
            {{ form_label(form_intervention.reserves)}}
            {{ form_widget(form_intervention.reserves)}}
            {{ form_errors(form_intervention.reserves)}}
        </div>

        <!--
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalSite"><i class="glyphicon glyphicon-trash"></i>
                Supprimer
            </button>
            -->

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
    {{ form_end(form_intervention) }}
</div>

<!-- Modale liste site-->
<div id="modalSite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5>Liste des sites</h5>
            </div>
            <div class="modal-body form-inline">
                {{ form_start(form_recherche_site) }}
                <div class="form-group">
                    {{ form_label(form_recherche_site.client)}}
                    {{ form_widget(form_recherche_site.client)}}
                </div>
                <div class="form-group">
                    {{ form_label(form_recherche_site.nom) }}
                    <div class="input-group">
                        {{ form_widget(form_recherche_site.nom) }}
                        <span class="input-group-btn">
                            <button id="chercherSite" class="btn btn-primary form-control">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                {{ form_end(form_recherche_site)}}
            </div>
            <table id="listeSiteTable" class="table">
                <tbody></tbody>
            </table>
            <div class="modal-footer">
                <div id="btnNavigationSite" class="text-left"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modale liste Prestation-->
<div id="modalPrestation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5>Liste des interventions</h5>
            </div>
            <div class="modal-body form-inline">
                {{ form_start(form_recherche_prestation) }}
                <div class="form-group">
                    {{ form_label(form_recherche_prestation.projet)}}
                    {{ form_widget(form_recherche_prestation.projet)}}
                </div>
                <div class="form-group">
                    {{ form_label(form_recherche_prestation.nom) }}
                    <div class="input-group">
                        {{ form_widget(form_recherche_prestation.nom) }}
                        <span class="input-group-btn">
                            <button id="chercherPrestation" class="btn btn-primary form-control">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                {{ form_end(form_recherche_prestation)}}
            </div>
            <table id="listePrestationTable" class="table">
                <tbody></tbody>
            </table>
            <div class="modal-footer">
                <div id="btnNavigationPrestation" class="text-left"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        //************* Site **************
        $('#listeSite').click(function (e) {
            e.preventDefault();
        });
        $('#chercherSite').click(function (e) {
            e.preventDefault();
            var client = $('#site_recherche_client').val();
            var site = $('#site_recherche_nom').val();
            if (site.length == 0) {
                var cURL = Routing.generate('search_site', { client: client, pagenum: 0 });
            } else {
                var cURL = Routing.generate('search_site', { client: client, pagenum: 0, site: site });
            }
            listesites(cURL);
        });
        $('#modalSite').on('shown.bs.modal', function (e) {
            var client = $('#site_recherche_client').val();
            var site = $('#site_recherche_nom').val();
            if (site.length == 0) {
                var cURL = Routing.generate('search_site', { client: client, pagenum: 0 });
            } else {
                var cURL = Routing.generate('search_site', { client: client, pagenum: 0, site: site });
            }
            listesites(cURL);
            //alert(cURL);
        });
        //************ Prestation **************
        $('#listePrestation').click(function (e) {
            e.preventDefault();
        });
        $('#chercherPrestation').click(function (e) {
            e.preventDefault();
            var projet = $('#prestation_filter_projet').val();
            var prestation = $('#prestation_filter_nom').val();
            if (prestation.length == 0) {
                var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: 0 });
            } else {
                var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: 0, prestation: prestation });
            }
            listeprestations(cURL);
        });
        $('#modalPrestation').on('shown.bs.modal', function (e) {
            e.preventDefault();
            var projet = $('#prestation_filter_projet').val();
            var prestation = $('#prestation_filter_nom').val();
            if (prestation.length == 0) {
                var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: 0 });
            } else {
                var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: 0, prestation: prestation });
            }
            listeprestations(cURL);
        });


    })

    function listesites(cURL) { 
        $.post(
            cURL,
            function (data) {
                $('#listeSiteTable tbody > tr').remove();
                ligne = '';
                //console.log(data);
                if (data.pagenum != 0) {
                    ligne += '<button id="firstsite" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="firstsite()" class="ml-2 btn btn-primary glyphicon glyphicon-fast-backward">  </button>';
                }
                if (data.pagenum > 0) {
                    ligne += '<button id="previoussitesite" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="previoussitesite()" class="ml-2 btn btn-primary glyphicon glyphicon-backward">  </button>';
                }
                if (data.pagenum < data.totalpages) {
                    ligne += '<button id="nextsite" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="nextsite()" class="ml-2 btn btn-primary glyphicon glyphicon-forward">  </button>';
                }
                if (data.pagenum < data.totalpages) {
                    ligne += '<button id="lastsite" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="lastsite()" class="ml-2 btn btn-primary glyphicon glyphicon-fast-forward">  </button>';
                }
                ligne += '<span id="pages" class="badge bg-primary ml-4 pt-3 pb-3">';
                var tt = parseInt(data.pagenum) + 1;
                ligne += tt;
                ligne += '/';
                ligne += data.totalpages + 1;
                //ligne += data.totalrows;
                ligne += '</span>';
                $('#btnNavigationSite').html(ligne);
                for (i = 0; i < data.sites.length; i++) {
                    ligne = '';
                    ligne += '<tr>';
                    //ligne += '<td>';
                    //ligne += "<button id='selectsite' onclick='selectsite(\"" + data.sites[i].id + "\",\"" + data.sites[i].code + "\",\"" + data.sites[i].nom + "\")' class='ml-2 btn btn-primary glyphicon glyphicon-ok'>  </button> " + data.sites[i].code;
                    //ligne += '</td>';
                    ligne += '<td>';
                    ligne += "<a href='#' onclick='selectsite(\"" + data.sites[i].id + "\",\"" + data.sites[i].code + "\",\"" + data.sites[i].nom + "\"); return false;'>";
                    ligne += data.sites[i].code;
                    ligne += '</a></td>';
                    ligne += '<td>';
                    ligne += data.sites[i].nom;
                    ligne += '</td>';
                    ligne += '<td>';
                    ligne += data.sites[i].client;
                    ligne += '</td>';
                    ligne += ' </tr>';
                    $('#listeSiteTable > tbody:last').append(ligne);
                }
            }
        )
    }

    function firstsite() {
        pagenum = 0;
        var client = $('#site_recherche_client').val();
        var site = $('#site_recherche_nom').val();
        if (site.length == 0) {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum, site: site });
        }
        //    alert(cURL);
        listesites(cURL);
    }
    function previoussitesite() {
        var pagenum = $('#previoussitesite').attr('data-pagenum');
        var totalpages = $('#previoussitesite').attr('data-totalpages');
        pagenum--;
        pagenum = Math.max(0, pagenum);
        var client = $('#site_recherche_client').val();
        var site = $('#site_recherche_nom').val();
        if (site.length == 0) {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum, site: site });
        }
        //    alert(cURL);
        listesites(cURL);
        //alert("previoussite");
    }
    function nextsite() {
        var pagenum = $('#nextsite').attr('data-pagenum');
        var totalpages = $('#nextsite').attr('data-totalpages');
        pagenum++;
        pagenum = Math.min(totalpages, pagenum);
        var client = $('#site_recherche_client').val();
        var site = $('#site_recherche_nom').val();
        if (site.length == 0) {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum, site: site });
        }
        //    alert(cURL);
        listesites(cURL);
        //alert("nextsite");
    }
    function lastsite() {
        var totalpages = $('#lastsite').attr('data-totalpages');
        pagenum = totalpages;
        var client = $('#site_recherche_client').val();
        var site = $('#site_recherche_nom').val();
        if (site.length == 0) {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_site', { client: client, pagenum: pagenum, site: site });
        }
        //    alert(cURL);
        listesites(cURL);
        //alert("lastsite");
    }
    function selectsite(id, code, nom) {
        $('#intervention_siteid').val(id);
        $('#intervention_sitecode').val(code);
        $('#intervention_sitenom').val(nom);
        $('#modalSite').modal('hide');
    }
    //******* Prestation ****************
    function listeprestations(cURL) {
        $.post(
            cURL,
            function (data) {
                //console.log(data.prestations);
                $('#listePrestationTable tbody > tr').remove();
                ligne = '';
                if (data.pagenum != 0) {
                    ligne += '<button id="firstprestation" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="firstprestation()" class="ml-2 btn btn-primary glyphicon glyphicon-fast-backward">  </button>';
                }
                if (data.pagenum > 0) {
                    ligne += '<button id="previousprestation" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="previousprestation()" class="ml-2 btn btn-primary glyphicon glyphicon-backward">  </button>';
                }
                if (data.pagenum < data.totalpages) {
                    ligne += '<button id="nextprestation" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="nextprestation()" class="ml-2 btn btn-primary glyphicon glyphicon-forward">  </button>';
                }
                if (data.pagenum < data.totalpages) {
                    ligne += '<button id="lastprestation" data-pagenum="' + data.pagenum + '" data-totalpages="' + data.totalpages + '" onclick="lastprestation()" class="ml-2 btn btn-primary glyphicon glyphicon-fast-forward">  </button>';
                }
                ligne += '<span id="pages" class="badge bg-primary ml-4 pt-3 pb-3">';
                var tt = parseInt(data.pagenum) + 1;
                ligne += tt;
                ligne += '/';
                ligne += data.totalpages + 1;
                //ligne += data.totalrows;
                ligne += '</span>';
                $('#btnNavigationPrestation').html(ligne);
                for (i = 0; i < data.prestations.length; i++) {
                    ligne = '';
                    ligne += '<tr>';
                    //ligne += '<td>';
                    //ligne += "<button id='selectprestation' onclick='selectprestation(\"" + data.prestations[i].id + "\",\"" + data.prestations[i].projet + "\",\"" + data.prestations[i].nom + "\")' class='ml-2 btn btn-primary glyphicon glyphicon-ok'>  </button> ";
                    //ligne += '</td>';
                    ligne += '<td>';
                    ligne += "<a href='#' onclick='selectprestation(\"" + data.prestations[i].id + "\",\"" + data.prestations[i].projet + "\",\"" + data.prestations[i].nom + "\"); return false;'>";
                    ligne += data.prestations[i].nom;
                    ligne += '</a></td>';
                    ligne += '<td>';
                    ligne += data.prestations[i].projet;
                    ligne += '</td>';
                    ligne += ' </tr>';
                    $('#listePrestationTable > tbody:last').append(ligne);
                }
            }
        )
    }

    function firstprestation() {
        pagenum = 0;
        var projet = $('#prestation_filter_projet').val();
        var prestation = $('#prestation_filter_nom').val();
        if (prestation.length == 0) {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum, prestation: prestation });
        }
        //    alert(cURL);
        listeprestations(cURL);
    }
    function previousprestation() {
        var pagenum = $('#previousprestation').attr('data-pagenum');
        var totalpages = $('#previousprestation').attr('data-totalpages');
        pagenum--;
        pagenum = Math.max(0, pagenum);
        var projet = $('#prestation_filter_projet').val();
        var prestation = $('#prestation_filter_nom').val();
        if (prestation.length == 0) {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum, prestation: prestation });
        }
        //    alert(cURL);
        listeprestations(cURL);
        //alert("previousprestation");
    }
    function nextprestation() {
        var pagenum = $('#nextprestation').attr('data-pagenum');
        var totalpages = $('#nextprestation').attr('data-totalpages');
        pagenum++;
        pagenum = Math.min(totalpages, pagenum);
        var projet = $('#prestation_filter_projet').val();
        var prestation = $('#prestation_filter_nom').val();
        if (prestation.length == 0) {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum, prestation: prestation });
        }
        //    alert(cURL);
        listeprestations(cURL);
        //alert("nextprestation");
    }
    function lastprestation() {
        var totalpages = $('#lastprestation').attr('data-totalpages');
        pagenum = totalpages;
        var projet = $('#prestation_filter_projet').val();
        var prestation = $('#prestation_filter_nom').val();
        if (prestation.length == 0) {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum });
        } else {
            var cURL = Routing.generate('search_prestation', { projet: projet, pagenum: pagenum, prestation: prestation });
        }
        //    alert(cURL);
        listeprestations(cURL);
        //alert("lastprestation");
    }
    function selectprestation(id, projet, nom) {
        $('#intervention_prestationid').val(id);
        $('#intervention_projet').val(projet);
        $('#intervention_prestationnom').val(nom);
        $('#modalPrestation').modal('hide');
    }
</script>
{% endblock %}