{% if ('M' in mission.code ) %}
{% set m = 'mission' %}
{% else %}
{% set m = 'noteFrais' %}
{% endif %}
{% set appel_employe = app.session.get('appel_employe') %}

{% extends "base.html.twig" %}
{% block title %}Mission - {{ parent() }}{% endblock %}
{% block detail %}
<div class="panel panel-default">
    <div class="panel-heading">
       <h4>
        {% if appel_employe == "non" %}
            {% if m == 'mission' %}
                <a class="btn btn-primary mr-2" href="{{ path('mission_index') }}">
                    <i class="glyphicon glyphicon-list"></i>
                </a>
                Mission
            {% else %}
                <a class="btn btn-primary mr-2" href="{{ path('note_frais_index') }}">
                    <i class="glyphicon glyphicon-list"></i>
                </a>
                Note de frais
            {% endif %}
        {% elseif appel_employe == "oui" %}
            <a class="btn btn-primary mr-2" href="{{ path('mission_employe_index') }}">
                <i class="glyphicon glyphicon-list"></i>
            </a>
            Mission
        {% endif %}
        
       </h4>
    </div>
    <div class="panel-body">
        {% include "@App/Mission/mission.detail.html.twig" %}
    </div>
</div>
{% endblock %}

{% block contenu %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% if (m == 'mission') %}
            Mission
            {% else %}
            Note de frais
            {% endif %}
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover record_properties">
            <tbody>
                <tr>
                    <th scope="row">Code</th>
                    <td>{{ mission.code}}</td>
                </tr>
                <tr>
                    <th scope="row">
                        {% if (m == 'mission') %}
                        Départ
                        {% else %}
                        Du
                        {% endif %}
                    </th>
                    <td>{{ mission.depart | date("d/m/Y")}}</td>
                </tr>
                <tr>
                    <th scope="row">
                        {% if (m == 'mission') %}
                        Retour
                        {% else %}
                        Au
                        {% endif %}
                    </th>
                    <td>{{ mission.retour | date("d/m/Y")}}</td>
                </tr>
                <tr>
                    <th scope="row">
                        {% if (m == 'mission') %}
                        Chef de mission
                        {% else %}
                        Employe
                        {% endif %}
                    </th>
                    <td>{{ mission.user.nom }}</td>
                </tr>
                {% if is_granted("ROLE_COMPTABLE") %}
                <tr>
                    <th scope="row">Avance</th>
                    <td>{{ mission.avance | number_format(2,',',' ') }} DA</td>
                </tr>
                {% endif %}
                {% if (m == 'mission') %}
                <tr>
                    <th scope="row">Destination</th>
                    <td>{% if destination is not null %}
                        {{ destination.destination }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">

            {% if is_granted("ROLE_ADMIN") or ((is_granted("ROLE_BUREAU") ) and ((not mission.vComptabilite) and
            (not mission.vRollout))) %}
            <a class="btn btn-primary" href="{{ path('mission_edit', {id: mission.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-edit"></i> Modifier
            </a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") or
            (is_granted("ROLE_SUPER_COMPTABLE") ) or
            (is_granted("ROLE_COMPTABLE") and (not mission.vComptabilite)) %}
            <a class="btn btn-primary" href="{{ path('mission_avance', {id: mission.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-usd"></i> Avance
            </a>
            {% endif %}
            <a class='btn btn-primary' href="{{path('mission_index') }}"> <i class="glyphicon glyphicon-arrow-left"></i> Retour</a>
            {% if is_granted("ROLE_ADMIN") or
            (is_granted("ROLE_BUREAU") and (not mission.vEmploye) and ( not mission.vRollout) and (not
            mission.vComptabilite)) %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteMission"><i
                    class="glyphicon glyphicon-trash"></i> Supprimer</button>
            {% endif %}
    </div>
</div>

<!-- Modale delete Mission-->
<div id="modalDeleteMission" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer cet élément, cette procédure est irréversible.</p>
                <p>Voulez-vous poursuivre?</p>
            </div>
            <div class="modal-footer">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-trash-o"></i>
                    Oui</button>
                <button class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <input name="modal" type="hidden" value="0">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {


    })
</script>
{% endblock %}